.header_style{

    background-color: rgb(199, 91, 184);

        display: flex;
        justify-content: space-between; /* This evenly distributes children along the main axis */
    
    
      

      
}

.your_cart {

    margin: 20px;
    color: #d43636;
    

}